@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Stylish&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
    font-family: 'Inter', sans-serif;
}
.boxShadow-first{
  box-shadow:rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
}
.dark-input-box{
background:#1E2A47;
color:white;
margin: 0px 2rem;
border: none;
font-size: 1.1rem;
}
.light-input-box{
background:#fff;
color:black;
margin: 0 2rem;
border: none;
font-size: 1.1rem;
}

.userSearchInput>div{
    /* box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567); */
    box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
}
.userSearchInput input{
    outline: none;
    border:none;
    padding: 2px 0.25rem 2px;
}
.userSearchInput button{
  
    border: none;
    border-radius: 1rem;
    line-height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.userSearchInput button:hover{
    filter: brightness(1.05);
    box-shadow: 0px 0px 15px -3px #0079ff;
}
.userSearchInput input:focus{
    outline: none;
    border: 1px dashed #0079FF;;
}

.card-dark {
background: #1E2A47;
color: white;
}
.card-dark a span{
    background: #0079FF;
    margin: 12px;
    padding: 4px 16px;
}
.card-light {
    background: #fff;
    color:#201919c3;
}
.card-light a span{
    background: #0079FF;
    margin: 12px;
    padding: 4px 16px;
}

.randomProfile{
    max-width: 1080px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin: auto;

}

.ellipsiss {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow:ellipsis;
    width: 300px; /* Set a specific width to the container */
    height: 60px;
    border: 2px solid red;
  }
  



@media screen and (max-width:520px) {
      .themeValue{
        display: none;
      }
}
@media screen and (max-width:1000px) {
      .own-activity-avtar{
        display: none;
      }
}
@media screen and (max-width:768px) {
      .own-activity-avtar{
        display: block;
      }
}
@media screen and (max-width:510px) {
      .own-activity-avtar{
        display: none;
      }
}



